<!DOCTYPE html>
{% load staticfiles %}
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>{% block title %}Academy Factory - Uma Academia Diferente | ACFactory {% endblock %}</title>
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/lightbox.css' %}" rel="stylesheet">
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
  <link id="{% static 'css-preset' %}" href="{% static 'css/presets/preset1.css' %}" rel="stylesheet">
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
  <link href="{% static 'css/login.css' %}" rel="stylesheet">

  <!--[if lt IE 9]>
  <script src="{% static 'js/html5shiv.js' %}"></script>
  <script src="{% static 'js/respond.min.js' %}"></script>
  <![endif]-->

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
</head><!--/head-->

<body>

<!--.preloader-->
<div class="preloader"> <i class="fa fa-circle-o-notch fa-spin"></i></div>
<!--/.preloader-->
{% block header %}
<header id="home">
  {% block home %}
  <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active" style="background-image: url({% static 'img/slider/1.jpg' %})">
        <div class="caption">
          <h1 class="animated fadeInLeftBig">Bem Vindo a <span>Academy Factory</span></h1>
          <p class="animated fadeInRightBig">Musculação - Danças - Aeróbica - Natação</p>
          <a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Conheça mais</a>
        </div>
      </div>
      <div class="item" style="background-image: url({% static 'img/slider/2.jpg' %})">
        <div class="caption">
          <h1 class="animated fadeInLeftBig">Faça parte da <span>Academy Factory</span></h1>
          <p class="animated fadeInRightBig">Musculação - Danças - Aeróbica - Natação</p>
          <a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Conheça mais</a>
        </div>
      </div>
      <div class="item" style="background-image: url({% static 'img/slider/3.jpg' %})">
        <div class="caption">
          <h1 class="animated fadeInLeftBig">Somos <span>Academy Factory</span></h1>
          <p class="animated fadeInRightBig">Musculação - Danças - Aeróbica - Natação</p>
          <a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Conheça mais</a>
        </div>
      </div>
    </div>
    <a class="left-control" href="#home-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
    <a class="right-control" href="#home-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>

    <a id="tohash" href="#services"><i class="fa fa-angle-down"></i></a>
  </div><!--/#home-slider-->
  {% endblock %}
  {% block nav %}
  <div class="main-nav">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'academia:index' %}">
          <h1><img class="img-responsive" src="{% static 'img/logo.png' %}" alt="logo"></h1>
        </a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="scroll active"><a href="#home">Home</a></li>
          <li class="scroll"><a href="#services">Serviços</a></li>
          <li class="scroll"><a href="#about-us">Sobre nós</a></li>
          <li class="scroll"><a href="#portfolio">Fotos</a></li>
          <li class="scroll"><a href="#team">Equipe</a></li>
          <li class="scroll"><a href="#login">Login</a></li>
          <li class="scroll"><a href="#contact">Contato</a></li>
        </ul>
      </div>
    </div>
  </div><!--/#main-nav-->
  {% endblock %}
</header><!--/#home-->
{% endblock %}

{% block section %}
{% endblock %}

{% block footer %}
<footer id="footer">
  <div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
    <div class="container text-center">
      <div class="footer-logo">
        <a href="{% url 'academia:index' %}"><img class="img-responsive" src="{% static 'img/logo.png' %}" alt=""></a>
      </div>
      <div class="social-icons">
        <ul>
          <li><a class="envelope" href="#"><i class="fa fa-envelope"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a class="tumblr" href="#"><i class="fa fa-tumblr-square"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p>&copy; 2017 Academy Factory.</p>
        </div>
        <div class="col-sm-6">
          <p class="pull-right">Criado por <a href="#">Jaqueline e Vanniery</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="{% static 'js/jquery.inview.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/wow.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/mousescroll.js' %}"></script>
<script type="text/javascript" src="{% static 'js/smoothscroll.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.countTo.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lightbox.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% endblock %}


</body>
</html>