{% extends 'academia/base.html' %}
{% load staticfiles %}
<script>$('.main-nav').addClass('navbar-fixed-top');</script>
{% block header %}
{% include 'academia/nav.html' %}
{% endblock %}


{% block section %}
<header>
<section>
    <p>oiiii</p>
</section>
<section>
    <p>oiiii</p>
</section>
<section>
    <p>oiiii</p>
</section>
    </header>
{% endblock %}
