{% extends 'academia/base.html' %}
{% load staticfiles %}

{% block section %}
<section id="services">
  <div class="container">
    <div class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
      <div class="row">
        <div class="text-center col-sm-8 col-sm-offset-2">
          <h2>Nossas atividades</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam</p>
        </div>
      </div>
    </div>
    <div class="text-center our-services">
      <div class="row">

        {% if servicos %}
        {% for servico in servicos %}
        <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
          <div class="service-icon">
            <img width="50" height="50" src="{{servico.foto.url}}" alt="">
          </div>
          <div class="service-info">
            <h3>{{servico.titulo}}</h3>
            <p>{{servico.descricao}}</p>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="text-center">
            <h1>Não há serviços cadastrados</h1>
          </div>
        {% endif %}

      </div>
    </div>
  </div>
</section><!--/#services-->
<section id="about-us" class="parallax">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
          <h2>About us</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.Ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="our-skills wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
          <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <p class="lead">User Experiances</p>
            <div class="progress">
              <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  aria-valuetransitiongoal="95">95%</div>
            </div>
          </div>
          <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="400ms">
            <p class="lead">Web Design</p>
            <div class="progress">
              <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  aria-valuetransitiongoal="75">75%</div>
            </div>
          </div>
          <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
            <p class="lead">Programming</p>
            <div class="progress">
              <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  aria-valuetransitiongoal="60">60%</div>
            </div>
          </div>
          <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <p class="lead">Fun</p>
            <div class="progress">
              <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  aria-valuetransitiongoal="85">85%</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!--/#about-us-->

<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2>Nossa Estrutura</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam</p>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">

      {% if estruturas %}
      {% for estrutura in estruturas %}
      <div class="col-sm-3">
        <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="1000ms">
          <div class="folio-image">
            <img width="200" height="200" src="{{estrutura.foto.url}}" alt="">
          </div>
          <div class="overlay">
            <div class="overlay-content">
              <div class="overlay-text">
                <div class="folio-info">
                  <h3>{{estrutura.titulo}}</h3>
                  <p>{{estrutua.descricao}}</p>
                </div>
                <div class="folio-overview">
                  <span class="folio-link"><a class="folio-read-more" href="#" data-single_url="portfolio-single.html" ><i class="fa fa-link"></i></a></span>
                  <span class="folio-expand"><a href="{{estrutura.foto.url}}" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <div class="text-center">
        <h1>Não há fotos cadastradas</h1>
      </div>
      {% endif%}
    </div>
  </div>

  <div id="portfolio-single-wrap">
    <div id="portfolio-single"></div>
  </div><!-- /#portfolio-single-wrap -->
</section><!--/#portfolio-->


<section id="team">
  <div class="container">
    <div class="row">
      <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
        <h2>A equipe</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam</p>
      </div>
    </div>
    <div class="team-members">
      <div class="row">
        {% if funcionario %}
        {% for func in funcionario %}
        <div class="col-sm-3">
          <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="member-image">
              <img width="200" height="200" src="{{func.pessoa.foto.url}}" alt="" >
            </div>
            <div class="member-info">
              <h3>{{func.pessoa.user.username}}</h3>
            </div>
          </div>
        </div>
        {% endfor%}
        {% else %}
        <div>
          <h1>Nenhum funcionário cadastrado</h1>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section><!--/#team-->

<section id="features" class="parallax">
  <div class="container">
    <div class="row count">
      <div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
        <i class="fa fa-user"></i>
        <h3 class="timer">4000</h3>
        <p>Happy Clients</p>
      </div>
      <div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
        <i class="fa fa-desktop"></i>
        <h3 class="timer">200</h3>
        <p>Modern Websites</p>
      </div>
      <div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="700ms">
        <i class="fa fa-trophy"></i>
        <h3 class="timer">10</h3>
        <p>WINNING AWARDS</p>
      </div>
      <div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="900ms">
        <i class="fa fa-comment-o"></i>
        <h3>24/7</h3>
        <p>Fast Support</p>
      </div>
    </div>
  </div>
</section><!--/#features-->

<section id="pricing">
  <div class="container">
    <div class="row">
      <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
        <h2>Preços</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam</p>
      </div>
    </div>

    <div class="pricing-table">
      <div class="row">

        {% if precos %}
        {% for preco in precos %}
        <div class="col-sm-3">
          <div class="single-table wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h3>{{preco.tipo}}</h3>
            <div class="price">
              R${{preco.valor}}<span>/Mês</span>
            </div>
            <ul>
              <!--<li>{{preco.tipo}}</li>-->
              <li>{{preco.instrutor}}</li>
              <li>{{preco.faltas}}</li>
              <li>Limite de {{preco.idas}} vezes por semana</li>
              <li>Horario {{preco.horario}}</li>
            </ul>
            <a href="#contact" class="btn btn-lg btn-primary"> contate-nos</a>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="text-center">
          <h1>Preços não cadastrados</h1>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section><!--/#pricing-->

<section id="twitter" class="parallax">
  <div>
    <a class="twitter-left-control" href="#twitter-carousel" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
    <a class="twitter-right-control" href="#twitter-carousel" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="twitter-icon text-center">
            <i class="fa fa-twitter"></i>
            <h4>Themeum</h4>
          </div>
          <div id="twitter-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="item active wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                <p>Introducing Shortcode generator for Helix V2 based templates <a href="#"><span>#helixframework #joomla</span> http://bit.ly/1qlgwav</a></p>
              </div>
              <div class="item">
                <p>Introducing Shortcode generator for Helix V2 based templates <a href="#"><span>#helixframework #joomla</span> http://bit.ly/1qlgwav</a></p>
              </div>
              <div class="item">
                <p>Introducing Shortcode generator for Helix V2 based templates <a href="#"><span>#helixframework #joomla</span> http://bit.ly/1qlgwav</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!--/#twitter-->

<section id="login">
  <div class="container">
    <div class="row">
      <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
        <h2>SING IN</h2>
        <p>Se você ainda não faz parte, <a href="#contact"> contate-nos </a></p>
        <form class="form-4" method="post" action="{% url 'academia:home' %}">
          {% csrf_token %}
          <p>
            <label>Username or email</label>
            <input type="text" name="username" placeholder="Usuario ou email" required>
          </p>
          <p>
            <label>Password</label>
            <input type="password" name='password' placeholder="Senha" required>
          </p>
          <p>
            <input type="submit" name="submit" value="Entrar">
          </p>
        </form>
      </div>
    </div>
  </div>
</section><!--/#login-->

<section id="contact">
  <div id="google-map" class="wow fadeIn" data-latitude="-7.158825" data-longitude="-34.8549980" data-wow-duration="1000ms" data-wow-delay="400ms"></div>
  <div id="contact-us" class="parallax">
    <div class="container">
      <div class="row">
        <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
          <h2>Contate-nos</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam</p>
        </div>
      </div>
      <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
        <div class="row">
          <div class="col-sm-6">
            <form id="main-contact-form" name="contact-form" method="post" action="#">
              <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="col-sm-6">
                  <div class="form-group">
                    <input type="text" name="name" class="form-control" placeholder="Digite seu nome" required="required">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <input type="email" name="email" class="form-control" placeholder="Digite seu email" required="required">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" name="subject" class="form-control" placeholder="Titulo da mensagem" required="required">
              </div>
              <div class="form-group">
                <textarea name="message" id="message" class="form-control" rows="4" placeholder="Digite uma mensagem" required="required"></textarea>
              </div>
              <div class="form-group">
                <button type="submit" class="btn-submit">Enviar</button>
              </div>
            </form>
          </div>
          <div class="col-sm-6">
            <div class="contact-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
              <ul class="address">
                <li><i class="fa fa-map-marker"></i> <span> Endereço:</span>  Rodovia BR-230, KM 22, s/n - Água Fria, João Pessoa - PB, 58053-000 </li>
                <li><i class="fa fa-phone"></i> <span> Telefone:</span>  0800 707 9210  </li>
                <li><i class="fa fa-envelope"></i> <span> Email:</span><a href="mailto:academyfactory@gmail.com"> academyfactory@gmail.com</a></li>
                <li><i class="fa fa-globe"></i> <span> Website:</span> <a href="#">www.academyfactory.pythonanywhere.com</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!--/#contact-->
{% endblock %}