{% block nav %}
{% load staticfiles %}
<div class="main-nav">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'academia:index' %}">
        <h1><img class="img-responsive" src="{% static 'img/logo.png' %}" alt="logo"></h1>
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="scroll active"><a href="#services">Service</a></li>
        <li class="scroll"><a href="#about-us">About Us</a></li>
        <li class="scroll"><a href="#portfolio">Portfolio</a></li>
        <li class="scroll"><a href="#team">Team</a></li>
        <li class="scroll"><a href="#login">Login</a></li>
        <li class="scroll"><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</div><!--/#main-nav-->
{% endblock %}